extends layout

block content
 div
  h1 WIKI-ANALYTICS
  hr
  br
 div(class="loginBar")
  h1.display-4.m-b-2 Log In
  form(method='POST' action='/login') 
   div(class="container")
    label(for='username') Username 
    input.form-control(type='text' id='username' placeholder='username' name='username')
    
    label(for='password') Password  
    input.form-control(type='password' id='password' placeholder='password' name='password') 
     
    button.btn.btn-primary(type='submit') Log in 
    a(href='/register') Sign up
