extends layout

block content
 h1 Hi there. Welcome  !
 a(href='/logout') Log Out
 p Enter number of Articles:
 input#number(type="text")
 button#button(type='button') Submit
 div#results
  p Top #{number} articles with highest number of revisions 
  ul#revlist
   each val in revision
    li= val._id
 canvas#barChart 
 canvas#pieChart