<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>HOME PAGE</TITLE>
	<HEAD>
	<BODY>
		<!-- Hyperlink route handeled by express routes -->
		<a href="/register">click to register!</a>
	</BODY>
</HTML>
